# OUARGAZ APP V5.1 NEON READY
# Copier ici la DATABASE_URL fournie par Neon.
DATABASE_URL="postgresql://USER:PASSWORD@HOST/DB?sslmode=require"
JWT_SECRET="changer-cette-cle-secrete-production"
NEXTAUTH_URL="https://votre-projet.vercel.app"
